.ReactModal__Overlay {
	//border: 1px solid hotpink;
	background-color: transparent !important;
	display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: center;
  z-index: 4;
}

.ReactModal__Content {
	//border-top: 20px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  box-shadow: 2px 2px 5px rgba(5, 0, 5, 0.30);
	border-radius: 7px;
	width: 95%;
	height: 100%;
  color: #f2f2f2;
  text-shadow: 1px 1px 2px rgba(5, 0, 5, 0.72);
  outline: none;
}

.modal-wrapper {
	margin-left: auto;
	margin-right: auto;
	padding: 0 7px 7px 7px;
  width: 90%;
  display: flex;
  flex-direction: column;
	input {
		margin: 5px 5px 0 0;
	}
	input:focus {
		outline: none;
		border: 1px solid #f2f2f2;
		border-radius: 5px;
		box-shadow: 0 0 6px #f2f2f2;
	}
	select:focus {
		outline: none;
		border: 0px solid #f2f2f2;
		border-radius: 5px;
		box-shadow: 0 0 6px #f2f2f2;
  }
}

.h2wrapper {
  display: none;
  //border: 1px solid pink;
  background-image: url(../../images/optionsbg.png);
  background-size: 100% 100%;
  h2 {
    font-family: Ftura;
    font-size: 1.65rem;
    //text-transform: uppercase;
    text-align: center;
    
  }
}


.team-size_inputs {
	display: inline-block;
  width: 100%;
  margin-top: -5px;
}

.team-size_dropdown {
  margin-top: 15px;
	display: inline-block;
	text-align-last: center;
	width: 25%;
	padding: 3px;
	border-radius: 5px;
	background: rgba(5, 0, 5, 0.72);
	border: none;
	color: #f2f2f2;
	font-family: Bourgeois;
	font-size: 1.2rem;
}

label[for="teams"] {
	margin-left: 10px;
	font-size: 1.1rem;
}

.shuffle_input {
	display: inline-block;
	width: 45%;
}

.player-name_inputs {
	display: flex;
	flex-wrap: wrap;
	input[type=text] {
		padding: 4px;
		width: 45%;
		border-radius: 5px;
		background: rgba(5, 0, 5, 0.72);
		border: none;
		color: #f2f2f2;
		font-family: Bourgeois;
		font-size: 1.2rem;
		text-transform: uppercase;
	}
	input[type=text]:disabled {
		background: rgba(5, 0, 5, 0.12);
	}
}

.randomness-sliders {
	p {
		margin-bottom: -3px;
		display: block;
	}

	.random-value {
	}
	input[type=range] {
    width: 95%;
    -webkit-appearance: none;
    background: transparent;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
}

.switches {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	div {
		width: 45%;
		margin-right: 15px;
	}
}

.switch-label {
	margin-left: 5px;
}

.odometer-min-max-inputs {
	display: flex;
	flex-wrap: wrap;
	p {
		display: block;
		width: 100%;
		margin-bottom: -3px;
	}
	input[type=number] {
		padding: 4px;
		width: 45%;
		border-radius: 5px;
		background: rgba(5, 0, 5, 0.72);
		border: none;
		color: #f2f2f2;
		font-family: Bourgeois;
		font-size: 1.2rem;
		text-transform: uppercase;
	}
}

.settings-buttons {
  margin: 15px auto 15px auto;
  width: 90%;
  button {
    margin: 10px 10px 0 0;
    padding: 3px 10px 3px 10px;
    background-color: rgba(5, 0, 5, 0.72);
    border-radius: 5px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:#f2f2f2;
    font-size: 0.9rem;
    font-family: Ftura;
    //padding: 5px 20px;
  }
  button:hover {
    background-color: rgba(19, 19, 19, 0.72);
    }
  button:focus {
    outline: none;
  }
   button:active {
     outline: none;
     border: none;
      position:relative;
      top:1px;
  }
    
  }




// RANGE STYLING
input[type=range]::-ms-track {
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

// Thumb Styling
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background: #f2f2f2;
  cursor: pointer;
  margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background: #f2f2f2;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background: #f2f2f2;
  cursor: pointer;
}


// Track Styling
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(5, 0, 5, 0.72);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(5, 0, 5, 0.72);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #050005;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(5, 0, 5, 0.72);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(5, 0, 5, 0.72);
}
input[type=range]::-ms-fill-upper {
  background: rgba(5, 0, 5, 0.72);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(5, 0, 5, 0.72);
}


//MEDIA QUERIES

//Tablets
@media all and (min-width: 580px) {
	.ReactModal__Content {
    //border-top: 20px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    box-shadow: 2px 2px 5px rgba(5, 0, 5, 0.30);
    border-radius: 7px;
    width: 50%;
    height: auto;
    color: #f2f2f2;
    text-shadow: 1px 1px 2px rgba(5, 0, 5, 0.72);
    outline: none;
  }
  .h2wrapper {
    display: block;
  }
}