//  background: url(../images/bg/1.jpg) no-repeat;
body, html {
  font-family: Ftura;
  color: $off-black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  //height: 100%;
}

.wrapper {
  //height: calc(100vh - 60px);  ADSPACE
  //border: 3px dashed hotpink;
  //height: 100vh;
  position: relative;
}

.bg {
  animation-name: panning;
	animation-duration: 98s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  background-image: url(../images/bg/1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  transition: background-image 2.5s ease;
  width: 100%;
  z-index: 0;
}

.ad-bottom {
  background-color: $off-black;
  background-image: url('https://via.placeholder.com/468x60');
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.no-select {
  user-select: none;
}

.settings-button {
  z-index: 3;
  position: fixed;
  right: 15px;
  top: 15px;
  img {
    width: 20px;
    //opacity: 75%;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
  }
  img:hover {
    transform: scale(1.1);
		//transform: rotate(-36deg); //FOR NON TOUCH SCREENS
  }
}


//KEYFRAMES
@keyframes panning {
  0% {
    transform: scale(1, 1) translate(0);
   }
   25% {
     transform: scale(1.15, 1.15) translate(-25px, 20px);
   }
   50% {
     transform: scale(1.2, 1.2) translate(15px, -20px);
   }
   75% {
     transform: scale(1.24, 1.24) translate(-25px, 20px);
   }
   100% {
     transform: scale(1.15, 1.15) translate(-15px, -30px);
   }
}

//FONTS
@font-face {
  font-family: "Ftura";
  src: url("../fonts/futura_book-webfont.woff") format("woff")
}
@font-face {
  font-family: "futura-pt";
  src: url("../fonts/futura-pt-book.otf") format("woff")
}
@font-face {
  font-family: "futura-pt-condensed";
  src: url("../fonts/futura-pt-cond-book.otf") format("woff")
}
@font-face {
  font-family: "Bourgeois";
  src: url("../fonts/BourgeoisCondensed.woff") format("woff")
}
@font-face {
  font-family: "Bourgeois-medium";
  src: url("../fonts/BourgeoisMedium.ttf") format("woff")
}
@font-face {
  font-family: "Bourgeois-light";
  src: url("../fonts/BourgeoisLight.ttf") format("woff")
}
