// This creates a container around the slider
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

// Hides the default checkbox
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

// Creates a background for the slider
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  transition: 0.4s;
}

// Creates the "square" switch
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

// Changes the background color on activation of switch
input:checked + .slider {
  background-color: #2196F3;
}

// Adds a shadpw
input:focus + .slider {
  box-shadow: 0 0 0.5px #2196F3;
}

// Moves the square on click
input:checked + .slider:before {
  transform: translateX(18px);
}




